ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--dark-red);
}

main {
    background-color: var(--beige);
    height: 81.95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main h1 {
    color: #ffffff;
    font-size: 2rem;
    background-color: var(--dark-brown);
    width: 50rem;
}

#tasks_container {
    border: 2px solid var(--dark-brown);
}

#filter_container {
    display: flex;
}

li {
    display: flex;
}
