main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--beige);
    height: 85vh;
}

h1 {
    text-align: center;
}

form {
    background-color: var(--white);
    width: 30%;
    height: 170rem;
    border-radius: 10px;
    background-color: var();
}
