* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

:root {
    --white: #d4c6b5;
    --grey: #BEACB8;
    --dark-brown: #2C1D27;
    --light-brown: #a4855f;
    --beige: #DBC2A4;
    --light-red: #CF3E29;
    --dark-red: #782221;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4%;
    background-color: var(--light-red);
    box-shadow: 0 0 10px var(--light-red);
}

header h2{
    color: #ffffff;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4%;
    background-color: var(--dark-brown);
    box-shadow: 0 0 10px var(--dark-brown);
}

footer p {
    color: #ffffff;
    margin-left: 5%;
}

header form {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 13rem;
}

header form button {
    border: 1px solid #ffffff;
    padding: 1px 5px;
    background-color: var(--light-red);
    color: #ffffff;
    font-size: 15px;
}

header form button:hover {
    background-color: var(--dark-red);
}

main {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
